<head>
  <base href="/" />
  <title><%= title || "Metronic - Light Theme" %></title>
  <meta charset="utf-8" />
  <meta content="follow, index" name="robots" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="<%= typeof description !== 'undefined' ? description : '' %>" />

  

  <!-- Open Graph & Twitter -->
  <meta name="twitter:site" content="@keenthemes" />
  <meta name="twitter:creator" content="@keenthemes" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="<%= title || '' %>" />
  <meta name="twitter:description" content="<%= description || '' %>" />
  <meta name="twitter:image" content="/assets/media/app/og-image.png" />

  <meta property="og:url" content="<%= typeof url !== 'undefined' ? url : '' %>" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="@keenthemes" />
  <meta property="og:title" content="<%= title || '' %>" />
  <meta property="og:description" content="<%= description || '' %>" />
  <meta property="og:image" content="/assets/media/app/og-image.png" />

  <!-- Favicon & Fonts -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/media/app/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/media/app/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/media/app/favicon-16x16.png" />
  <link rel="shortcut icon" href="/assets/media/app/favicon.ico" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />

  <!-- Theme Styles -->
  <link href="/assets/vendors/apexcharts/apexcharts.css" rel="stylesheet" />
  <link href="/assets/vendors/keenicons/styles.bundle.css" rel="stylesheet" />
  <link href="/assets/css/styles.css" rel="stylesheet" />
</head>
